<ng-template #loading>
    <div class="overall-spinner-container" *ngIf="loading$ | async">
        <mat-spinner diameter="40"></mat-spinner>
    </div>
    </ng-template>
<div class="page-with-toolbar" *ngIf="frm$ | async as frm;else loading">
    <div class="page-content have-actions" >
        <div class="float-bottom-right-upper" *ngIf="canSendNotifications">
            <button mat-fab routerLink="/" [mat-menu-trigger-for]="sendMenu">
                <mat-icon svgIcon="send-icon"></mat-icon>
            </button>
        </div>
        <mat-menu #sendMenu="matMenu">
            <button type="button" mat-menu-item (click)="sendNotification(post.userId, post.title, post.postId)">
                <mat-icon color="primary">notifications</mat-icon>
                Notify user about post
            </button>
            <button [disabled]="post.dynamicStatus !== 'Active'" type="button" mat-menu-item (click)="sendNotificationOthers(post.userId, post.title, post.postId, post.description)">
                <mat-icon color="warn">notifications</mat-icon>
                Notify others about post
            </button>
            <button type="button" mat-menu-item (click)="sendSms(post.userMobile)">
                <mat-icon color="primary">message</mat-icon>
                Send SMS
            </button>
        </mat-menu>
        <h1 class="mat-h1" style="margin-bottom: 20px;">
            Post #{{post.postId}} by: {{post.storeTitle}} | {{post.userMobile}}
            <button mat-button style="margin-left: 40px" color="primary" (click)="goToUser()"><mat-icon>person</mat-icon>Go To User Profile</button>
        </h1>
        <h3 class="mat-h3" style="margin-bottom: 10px;">Post Images</h3>
        <ng-image-slider [images]="postAttachements" #nav></ng-image-slider>
        <h3 class="mat-h3" style="margin-bottom: 10px; margin-top: 30px;"> Main Information</h3>
        <form [formGroup]="frm">
            <mat-grid-list rowHeight="100" [cols]="(isHandset$ | async) ? 1 : 3">
                <mat-grid-tile>
                    <app-input [controlName]="'Title'" [formGroup]="frm" label="Title"></app-input>
                </mat-grid-tile>
                
                <mat-grid-tile>
                    <app-input [controlName]="'PostingDate'" [formGroup]="frm" type="date" label="Date"></app-input>
                </mat-grid-tile>
                <mat-grid-tile>
                        <div style="width:40%">
                            <app-input [controlName]="'Price'" [formGroup]="frm"  label="Price" type="currency"></app-input>
                        </div>
                        <div style="width:40%">
                            <app-select [controlName]="'Currency'"
                            [formGroup]="frm" [options]="currencies" label="$/SYP" optionDisplay="name" optionValue="value"></app-select>
                        </div>
                        <div style="width:20%">
                            <button mat-icon-button (click)="getPriceLog()" color="primary" [mat-menu-trigger-for]="priceMenu"><mat-icon>history</mat-icon></button>
                        </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-select [controlName]="'City'" [formGroup]="frm" label="City" [options]="(cities$ | async)!"
                        [optionDisplay]="'nameAr'" [optionValue]="'nameAr'"
                        (valueChanges)="setCity($event)"></app-select>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-select [controlName]="'Area'" [formGroup]="frm" label="Area" [options]="(areas$ | async)!"
                        [optionDisplay]="'nameAr'" [optionValue]="'nameAr'"></app-select>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div style="width:100%; padding: 15px">
                        <mat-form-field appearance="outline" style="width:100%">
                            <mat-label>Parent Category</mat-label>
                            <mat-select [formControl]="categoryControl" readonly>
                                <mat-option *ngFor="let cat of categories$ | async" [value]="cat.categoryId">
                                    {{cat.nameAr}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-select [controlName]="'CategoryId'" [formGroup]="frm" label="Category"
                        [options]="(subCategories$ | async)!" [optionDisplay]="'nameAr'"
                        [optionValue]="'categoryId'"></app-select>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-select [controlName]="'Status'" [formGroup]="frm" label="Status"
                        [options]="[{name: 'Pending'},{name: 'Active'},{name: 'Inactive'},{name: 'Refused'},{name: 'Deleted'},{name: 'Outdated'}]"
                        [optionDisplay]="'name'" [optionValue]="'name'"></app-select>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-input type="text" [controlName]="'StatusReason'" [formGroup]="frm"
                        [label]="'Status Reason'"></app-input>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-checkbox formControlName="IsFeatured">Featured?</mat-checkbox>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-checkbox formControlName="IsNegotiable">Negotiable?</mat-checkbox>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="(isHandset$ | async) ? 1 : 3" rowspan="3">
                    <app-input [controlName]="'Description'" [formGroup]="frm" label="Description" type="text-area" [lines]="8"></app-input>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-divider></mat-divider>
            <h3 class="mat-h3" style="margin-bottom: 10px; margin-top: 30px;">Post Fields</h3>
            <ng-container formArrayName="PostData">
                <div>
                    <div *ngFor="let pdForm of postData let i = index">
                        <form [formGroup]="pdForm">
                            <ng-container [ngSwitch]="postFields[i].type">
                                <h4 class="mat-h4" *ngSwitchCase="'Label'">{{postFields[i].contentTextAr}}</h4>
                                <ng-container *ngSwitchCase="'Integer'">
                                    <app-input [formGroup]="pdForm" controlName="parameterValue" type="number"
                                        [label]="postFields[i].contentTextAr"></app-input>
                                    <mat-divider></mat-divider>
                                </ng-container>
                                <ng-container *ngSwitchCase="'DropdownList'">
                                    <app-select [label]="postFields[i].contentTextAr" [formGroup]="pdForm"
                                        controlName="parameterValue" [options]="postFields[i].fieldContent"
                                        [optionValue]="'valueAr'" [optionDisplay]="'valueAr'"></app-select>
                                </ng-container>
                                <div *ngSwitchCase="'RadioButton'">
                                    <!-- <div>{{postFields[i].contentTextAr}}</div> -->
                                    <mat-radio-group formControlName="parameterValue" class="field-radio-group">
                                        <mat-radio-button *ngFor="let val of postFields[i].fieldContent"
                                            [value]="val.valueAr">{{val.valueAr}}</mat-radio-button>
                                    </mat-radio-group>
                                    <mat-divider></mat-divider>
                                </div>
                                <ng-container *ngSwitchCase="'CheckBox'">
                                    <mat-checkbox
                                        formControlName="parameterCheckValue">{{postFields[i].contentTextAr}}</mat-checkbox>
                                </ng-container>
                            </ng-container>
                        </form>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </ng-container>

            <mat-grid-list rowHeight="500" cols="1" style="margin-left: -20px">
                <mat-grid-tile>
                    <app-data-table [title]="post.title + ' Services'" [data]="paidServiceData"
                        [dataSize]="paidServiceDataSize" [columnDefs]="(paidServiceHistoryColumnDefs | async)!"
                        [isAsync]="true" [pageSize]="10" [sortActive]="'date'" [sortDirection]="'desc'"
                        [isLoading]="paidServiceLoading$ | async" (changed)="paidServiceTableChanged($event)"
                        (downloadClicked)="paidServiceDownload($event)" [showSubmit]="false"
                        [preserveQueryParams]="true" [preserveSearchQuery]="true" [isReport]="true"
                        [searchQueryPlaceHolder]="'Find by content or mobile'" [haveDownload]="true"
                        [menuLoadingRows]="paidServiceLoadingActivation$ | async"
                        [menuBtns]="canChange ? paidServiceMenuButtons! : []"
                        [btns]="!(post.isFeatured || post.isReposted) && canChange ? paidServicesBtns : []"
                        (btnClicked)="paidServiceBtnClicked($event)"
                        (menuBtnClicked)="paidServiceTableMenuClicked($event)"></app-data-table>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list rowHeight="500" cols="1" style="margin-left: -20px; margin-bottom: 20px;">
                <mat-grid-tile>
                    <app-data-table [title]="post.title + ' Reports'" [data]="postStatsData"
                        [dataSize]="postStatsDataSize" [columnDefs]="(postStatsColumnDefs | async)!"
                        [isAsync]="true" [pageSize]="10" [sortActive]="'date'" [sortDirection]="'desc'"
                        [isLoading]="postStatsLoading$ | async" (changed)="postStatsTableChanged($event)"
                        (downloadClicked)="postStatsDownload($event)" [showSubmit]="false"
                        [preserveQueryParams]="true" [preserveSearchQuery]="true" [isReport]="true"
                        [searchQueryPlaceHolder]="'Find by content or mobile'" [haveDownload]="true"></app-data-table>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list rowHeight="500" cols="1" style="margin-left: -20px; margin-bottom: 20px;" *ngIf="post.postShipment">
                <mat-grid-tile>
                    <app-data-table [title]="post.title + ' Shipment'" [data]="[post.postShipment]"
                        [dataSize]="1" [columnDefs]="(postShipmentColumnDefs | async)!"
                        [isAsync]="true" [pageSize]="10" [sortActive]="'userAddressName'" [sortDirection]="'desc'"
                        [menuBtns]="postShipmentMenuBtns"
                        (menuBtnClicked)="postShipmentMenuBtnClicked($event)"
                        [isReport]="true"></app-data-table>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list rowHeight="500" cols="1" style="margin-left: -20px">
                <mat-grid-tile>
                    <app-data-table [title]="post.title + ' Orders'" [data]="ordersData"
                        [dataSize]="ordersDataSize" [columnDefs]="(ordersColumnDefs | async)!"
                        [isAsync]="true" [pageSize]="10" [sortActive]="'orderDate'" [sortDirection]="'desc'"
                        [isLoading]="loadingOrders$ | async" (changed)="ordersTableChanged($event)"
                        [isDownloading]="loadingDownloadOrders$ | async"
                        (downloadClicked)="ordersDownload($event)" [showSubmit]="false"
                        [preserveQueryParams]="true" [preserveSearchQuery]="true" [isReport]="true"
                        [searchQueryPlaceHolder]="'Find by content or mobile'" [haveDownload]="true"></app-data-table>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
        
    </div>
    <div class="sticky-actions">
        <button mat-raised-button *ngIf="post.dynamicStatus !== 'Outdated'" color="primary" [disabled]="post.status === 'Active'" (click)="changeStatus('Active')">Activate</button>
        <button mat-raised-button *ngIf="post.dynamicStatus === 'Outdated'" color="primary" [disabled]="post.status !== 'Active'" (click)="changeStatus('Active')">Republish</button>
        <button mat-raised-button [disabled]="post.status === 'Inactive'" (click)="changeStatus('Inactive')">Deactivate</button>
        <button mat-raised-button color="warn" (click)="changeStatus('Refused')" [disabled]="post.status === 'Refused'">Refuse</button>
    </div>
</div>

<mat-menu #priceMenu="matMenu" xPosition="before">
    <mat-spinner *ngIf="loadingPriceLog$ | async; else prices" diameter="25"></mat-spinner>
    <ng-template #prices>
        <mat-list>
            <mat-list-item  *ngFor="let p of postPriceLog">
                <div class="price-list">
                    <div style="width:100px">
                        {{p.logDate | date : 'MMM dd, y'}}
                    </div>
                    <div style="width:150px; font-weight: bold;">
                        {{p.price | number}}
                    </div>
                    <div style="width:50px">
                        {{p.currency}}
                    </div>
                    <div style="width:150px">
                        {{p.systemUserName ?? 'Creator'}}
                    </div>
                </div>
                
            </mat-list-item>
        </mat-list>
        <!-- <table *ngFor="let p of postPriceLog">
            <tr>
                <td>
                    {{p.logDate | date : 'MMM dd, y, hh:mm a'}}
                </td>
                <td>
                    {{p.price | number}}
                </td>
                <td>
                    {{p.systemUserName}}
                </td>
            </tr>
        </table> -->
    </ng-template>
</mat-menu>
