<div class="web-container" [ngClass]="'web-'+rnd">
    <div class="web-nav-bar">
        <div>
            حول كلشي مول
        </div>
        <div>
            قواعد السلامة        
        </div>
        <div>
            الإعلانات الممنوعة
        </div>
        <div>
            تواصل معنا
        </div>
    </div>
            <div class="web-slogan-container">
                <div class="web-title">
                    الموقع قيد الصيانة
                </div>
                <div class="web-download">
                    
                    حمل تطبيق كلشي مول الان
                </div>
                <div class="web-buttons">
                    <button mat-raised-button>
                        <mat-icon svgIcon="play-store-icon"></mat-icon>
                        عبر بلاي ستور
                    </button>
                </div>
                <div class="web-buttons">
                    <button mat-raised-button>
                        <mat-icon svgIcon="apple-store-icon"></mat-icon>
                        عبر آبل ستور                    
                    </button>
                </div>
            </div>
</div>