<div class="overall-spinner-container" *ngIf="loadingChangePassword$ | async">
    <mat-spinner diameter="40"></mat-spinner>
</div>
<mat-card *ngIf="frm">
    <form [formGroup]="frm" (ngSubmit)="submit()">
        <mat-card-content>
            <div class="form-controls-container have-actions">
            <div class="section-header">
                <h3 class="section-title">Change User Password</h3>
                <p class="section-subtitle">Enter New Password</p>
            </div>
            <mat-grid-list rowHeight="90" [cols]="1">
                <mat-grid-tile>
                    <app-input controlName="NewPassword" [formGroup]="frm" label="New Password" type="password"></app-input>
                </mat-grid-tile>
                <mat-grid-tile>
                    <app-input controlName="PasswordConfirm" [formGroup]="frm" label="Confirm New Password" type="password"></app-input>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-divider></mat-divider>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions align="end">
            <button style="width: 100%;" mat-raised-button color="warn" [disabled]="frm.invalid || (loadingChangePassword$  | async)"><mat-icon>save</mat-icon>CHANGE</button>
        </mat-card-actions>
    </form>
</mat-card>